h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  background-color: #262626;
  color: white;
  font-size: 60px;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 40px;
  background-color: #262626;
  color: white;
  text-decoration: underline;
  margin: 10px;
  text-align: center;
}

h4 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 20px; 
}

h5 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 25px;
  color: aquamarine;
}

img {
  float: left;
  vertical-align: center;
  background-color: none;
}

td {
  margin: 0 auto;
}


